.sideBar {
  display: flex;
  flex-direction: column;
  background-color: var(--panel);
  color: white;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #0002;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--background);
  background-color: var(--panel);
}

.containerImg img {
  width: 50%;
  height: 50%;
  filter: invert(50%);
}

.containerImg:hover {
  cursor: pointer;
  border-color: var(--primary-color);
}

.sideBar button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  border-top: 1px solid var(--panel);
  border-bottom: 1px solid var(--panel);
  border-left: 5px solid var(--panel);
  background-color: inherit;
  color: gray;
}

.sideBar button img{
  width: 30px;
  margin-right: 10px;
  filter: invert(10%)
}


.sideBar button:hover {
  color: var(--primary-color);
  filter: brightness(80%);
}

.sideBar button:hover img{
  filter: invert(23%) sepia(88%) saturate(2376%) hue-rotate(250deg) brightness(80%) contrast(99%);
}

.sideBar .selected {
  color: var(--primary-color);
  filter: brightness(90%);
  border-color: var(--background);
  border-left: 5px solid var(--primary-color);
}

.sideBar .selected img{
  filter: invert(23%) sepia(88%) saturate(2376%) hue-rotate(250deg) brightness(80%) contrast(99%);
}