.container {
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0006;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  padding: 20px;
  background-color: var(--background);
  border-radius: 5px;
}

.window .close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  width: 100%;
}

.window h5 {
  flex-grow: 1;
  text-align: left;
}

.window button[type="submit"] {
  width: 150px;
  margin-top: 30px;
}

.searchData {
  width: 100%;
}

.search {
  display: flex;
  flex-direction: row;
}

.search button {
  margin-left: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  height: 300px;
  overflow: hidden;
  border: 1px solid var(--border);
}

.data {
  flex-grow: 1;
  overflow-y: scroll;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.row span {
  padding: 5px 10px;
  text-align: center;
}

.firstRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px 10px;
  text-align: center;
  color: white;
  background-color: var(--dark-panel);
}

.selected {
  background-color: #0005;
}

.row:hover {
  background-color: #0003;
}

.selected:hover {
  background-color: #0006;
}

.firstRow:hover {
  filter: none;
}

.btnContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 1fr 140px;
  width: 100%;
}

.btnContainer button {
  width: 100%;
}

.btnContainer button:nth-child(2) {
  justify-self: end;
  width: 100px;
}
