.background {
  z-index: 1000;
}

.form {
  position: absolute;
  z-index: 500;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 0;
  color: var(--font);
  background-color: var(--background);
}

.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.close h4 {
  flex-grow: 1;
  margin: none;
}

.close div {
  margin-right: 7px;
}

.flex {
  flex-grow: 1;
  display: flex;
}

.dataRight {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form button[type="submit"] {
  margin-top: 30px;
}

.container form-floating {
  border: 1px solid var(--border);
}
