.container {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.form {
  padding: 20px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.close h4 {
  flex-grow: 1;
  margin: none;
}

.flex {
  display: flex;
}

.inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 20px;
}

.inputs input{
  width: 250px;
}

.inputs div:nth-child(7){
  grid-column: 1 / 3;
}

.inputs div:last-child{
  grid-column: 1 / 3;
}

.categoria {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.categoria small{
  position: absolute;
  top: 60px;
  left: 0;
}

.categoria label {
  flex-grow: 1;
  text-align: center;
}

.categoriaError{
  border-color: red;
}

.left {
  width: 300px;
  margin-right: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.right div:first-child {
  flex-grow: 1;
  height: 130px;
}

.container .textArea {
  width: 100%;
  height: 100% !important;
}

.right input[type="file"] {
  margin-bottom: 20px;
  height: 60px;
}

.buttons {
  display: flex;
}

.buttonsForm {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.buttonsForm button:first-child {
  margin-right: 10px;
}
