.container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.form{
  padding: 20px;
  background-color: var(--panel);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.close h4 {
  flex-grow: 1;
  margin: none;
}

.flex{
  display: flex;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.familia{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #0003;
}

.familia label{
  flex-grow: 1;
  text-align: center;
}

.left{
  width: 300px;
  margin-right: 20px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.container input,
.container input:focus,
.container input:active,
.container textarea,
.container textarea:focus,
.container textarea:active,
.container select,
.container select:focus,
.container select:active,
.form-floating{
  background-color: #0002;
  border-color: var(--border);
  color: var(--font);
}

.right div:first-child{
  flex-grow: 1;
  height: 130px;
}

.container .textArea{
  width: 100%;
  height: 100% !important;
}

.right input[type="file"]{
  margin-bottom: 20px;
  height: 60px;
}