.row{
  display: grid;
  grid-template-columns: 150px 1fr 200px 80px;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
  padding-bottom: 0px;
  outline: 1px solid var(--border);
}

.row span{
  border-right: 1px solid var(--border);
}