.container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.details{
  padding: 30px;
  border-radius: 10px;
  background-color: var(--panel);
}

.btnClose{
  display: flex;
  justify-content: flex-end;
}

.data{
  display: flex;
}

.inputs{
  width: 400px;
}

.rightData{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 30px;
}

.imgContainer{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img{
  width: 100%;
}

.btnContainer{
  width: 100%;
  margin-top: 30px;
}

.btnContainer button:nth-child(2){
  margin: 0 20px;
}

.inputs input,
.inputs input:focus,
.inputs input:active,
.inputs input:disabled,
.inputs select,
.inputs select:focus,
.inputs select:active,
.inputs select:disabled,
.inputs .form-floating{
  background-color: #0002;
  border-color: var(--border);
  color: var(--font);
}
