.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.details {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--background);
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.close h4 {
  flex-grow: 1;
}

.data {
  display: flex;
}

.inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 20px;
}

.inputs input {
  width: 100%;
}

.inputs div:nth-child(7) {
  grid-column: 1 / 3;
}

.inputs div:last-child {
  grid-column: 1 / 3;
}

.categoria {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.categoria small {
  position: absolute;
  top: 60px;
  left: 0;
}

.categoria label {
  flex-grow: 1;
  text-align: center;
}

.categoriaError {
  border-color: red;
}

.rightData {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.imgContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 100%;
}

.btnContainer {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.btnContainer button:nth-child(2) {
  margin: 0 20px;
}

.leftButtons {
  flex-grow: 1;
}
