.row {
  display: grid;
  grid-template-columns: 1fr 90px 90px 150px repeat(4, 90px) 50px;
  grid-template-rows: 1fr;
  padding-bottom: 0px;
  outline: 1px solid var(--border);
}

.row input,
.row select,
.row button {
  border-radius: 0;
}

.row input {
  border-right: 1px solid var(--border);
}
