.row {
  display: grid;
  grid-template-columns: repeat(2, 100px) repeat(2, 1fr) repeat(2, 100px) repeat(3, 80px);
  gap: 10px;
  padding: 10px;
  padding-bottom: 0px;
  outline: 1px solid var(--border);
}

.row span {
  border-right: 1px solid var(--border);
}
