.dashboard{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  color: var(--font);
}

.table{
  display: flex;
  padding: 20px;
  width: 100%;
}

.dashboardList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: var(--panel);
}

.dashboardList__searchBar {
  display: flex;
  margin: 20px 0px;
}

.dashboardList__searchBar input[type="search"] {
  max-width: 500px;
}

input[type="search"] {
  border-color: var(--border);
  background-color: #0004;
  color: var(--font);
}

input[type="search"]:focus{
  border-color: var(--border);
  background-color: #0002;
  color: var(--font);
}

input[type="search"]:active{
  border-color: var(--border);
  background-color: #0002;
  color: var(--font);
}

.dashboardList__searchBar button {
  margin-left: 20px;
}

.dashboardList__searchBar button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100);
}

.dashboardList__grid {
  flex-grow: 1;
  border-radius: 10px;
  outline: 1px solid var(--border);
  overflow: hidden;
}

.contentCard {
  height: 100%;
  padding-bottom: 35px;
  overflow: scroll;
}

.listEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-buttons .btn-primary{
  width: 100%;
}

.edit-buttons .btn-success{
  width: 50%;
  margin-right: 5px;
}

.edit-buttons .btn-danger{
  width: 45%;
}
