.dashboard{
  display: flex;
  width: 100%;
  height: 100vh;
  color: var(--font);
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table{
  flex-grow: 1;
  display: flex;
  width: 100%;
}