.form {
  width: 400px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: var(--panel);
}

/* .form .icon {
  filter: invert(50%);
} */

.form h4 {
  margin-bottom: 30px;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  height: 445px;
  overflow: hidden;
  border-radius: 5px;
  outline: 1px solid gray;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.imageContainer img {
  width: 100%;
}

.imgList {
  display: flex;
  height: 55px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--background);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--panel);
}

.image:hover {
  border-color: var(--primary);
}

.imgList .image img {
  width: 100%;
}
