.background {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.container {
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--background);
}

.close {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.close img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.close h5 {
  flex-grow: 1;
  margin: 0;
}

.bntContainer button {
  margin-right: 10px;
}
