.toLeft{
  animation-name: to-left;
  animation-duration: 0.5s;
}

.toTop{
  animation-name: to-top;
  animation-duration: 0.2s;
}

.toBottom{
  animation-name: to-bottom;
  animation-duration: 0.2s;
}

.hiddenUp{
  animation-name: hidden-up;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes to-left {
  0% {
    opacity: 0;
    left: -5%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes to-top{
  0% {
    opacity: 0;
    bottom: -5%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes to-bottom{
  0% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes hidden-up{
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -5%;
  }
}