.toLeft{
  animation-name: to-left;
  animation-duration: 0.5s;
}

.toTop{
  animation-name: to-top;
  animation-duration: 0.2s;
}

@keyframes to-left {
  0% {
    opacity: 0;
    left: -5%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes to-top{
  0% {
    opacity: 0;
    bottom: -5%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}