:root {
  --primary-color: #b3071b;
  --primary-color--transp: #b3071b44;

  --background: #fff;
  --panel: #ccc;
  --border: #aaa;
  --font: black;

  --dark-background: #0d1117;
  --dark-panel: #21262d;
  --dark-border: #445566;
  --dark-font: white;
}

.App {
  background-color: var(--background);
}

.btn-primary {
  border-color: var(--border);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  filter: brightness(85%);
  background-color: var(--primary-color);
}

.btn-primary:active {
  filter: brightness(70%);
  background-color: var(--primary-color);
}

.btn-primary:focus {
  position: relative;
  z-index: 0px;
  background-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}

.btn-outline-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btn-outline-primary:active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btn-outline-primary:focus {
  background-color: var(--primary-color);
}

.btn img {
  width: 25px;
  filter: invert(100%);
}

small {
  color: red;
}