:root {
  --primary-color: #6433cc;
  --primary-color--transp: #6433cc44;

  /*   --background: #0d1117;
  --panel: #21262d;
  --border: #445566;
  --font: white;
 */
  --background: #ccc;
  --panel: #fff;
  --border: #aaa;
  --font: black;
}

.btn-primary {
  border-color: var(--border);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  filter: brightness(85%);
  background-color: var(--primary-color);
}

.btn-primary:active {
  filter: brightness(70%);
  background-color: var(--primary-color);
}

.btn-primary:focus {
  background-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}

.btn-outline-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btn-outline-primary:active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btn-outline-primary:focus {
  background-color: var(--primary-color);
}

input,
input:focus,
input:active,
select,
select:focus,
select:active,
.form-floating {
  background-color: #0002;
  border-color: var(--border);
  color: var(--font);
}

.btn img {
  width: 25px;
  filter: invert(100%);
}
