.navBar{
  display: flex;
  justify-content: right;
  padding: 10px 20px;
  padding-bottom: 0;
  background: var(--background);
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.imgContainer img{
  width: 60%;
}

.menu{
  position: fixed;
  top: 60px;
  display: none;
  padding: 10px 0;
  list-style: none;
  border-radius: 5px;
  background-color: grey;
}

.menu li{
  padding: 5px 20px;
}

.menu li:hover{
  background-color: #2222;
}

.backMenu{
  display: block;
}